<h1>Listing movies</h1>
<p>
  AKSDKASKDAKSKDAKSDKASKDAKSDKASKDKASKD TEST ASDASKDAKSDKASKDAKSDKASKDKASDKAKSDKASKDAKSDKASKD
  </p>
<table>
  <tr>
    <th>Title</th>
    <th>About</th>
    <th></th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.text %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Destroy', movie_path(movie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new review', new_movie_path %>
<%= link_to 'Main page', home_index_path %>
