<p>
  <strong>Title:</strong>
  <%= @user_movie.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user_movie.text %>
</p>

<h2>Comments</h2>
<%= render @user_movie.comentages %>

<h2>Add a comment:</h2>
<%= render 'comentages/form' %>

<%= link_to 'Edit', edit_movie_path(@user_movie) %>
<%= link_to 'Back', movies_path %>
