<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3 text-center ">
        <div class="logo-button">
          <%= link_to 'GREVS', home_index_path %>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title">
          <%= link_to 'My Games', games_path %>
        </button>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title">
          <%= link_to 'My music', musics_path %>
        </button>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title">
          <%= link_to 'My movies', movies_path %>
        </button>
      </div>

      <div class="col-md-3 text-center">
        <button class="low-title">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </button>
      </div>

    </div>

  </div>

</nav>
